<div class="container">
<div class="row">
  <form method="post" name="creategroup" class="col s12 l8 offset-l3 m8 offset-m3">
    <input require="" name="name_group" type="text" placeholder="Entrer le nom de votre groupe">

    <a class="btn teal ajoutMembre"><i class="material-icons left">add</i>Ajouter un membre</a>
    <div class="row center" style="padding-top:10%">
      <button class="btn waves-effect waves-light" type="submit" name="action" value="creategroup"><i class="material-icons right">send</i>Enregistrer le groupe</button>
    </div>
  </form>
</div>
</div>
