</main>
<footer class="page-footer teal"  id="footer" >
    <div class="container">
>>>>>>> 8983fb8beb4b405203a876772cbc7c67695a0650
        <div id="footer_row" class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">© SportNet 2016, Tous droits réservés.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3 " href="#!">Inscription pour organisateur</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Connexion pour organisateur</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/css/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/css/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/JS/jquery.fancybox.js"></script>
<script type="text/javascript" src="/JS/jquery.validate.js"></script>
<script>
    $('.parallax').parallax();

</script>
<script type="text/javascript" src="/JS/inscription.js"></script>
<script type="text/javascript" src="/JS/ajoutEpreuve.js"></script>
<script> $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 90 // Creates a dropdown of 15 years to control year
    });
</script>

</body>
</html>
