</main>
<footer class="page-footer teal" id="footer">
    <div class="container">
        <div id="footer_row" class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">© SportNet 2016, Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/css/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/css/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/JS/jquery.fancybox.js"></script>
<script type="text/javascript" src="/JS/jquery.validate.js"></script>
<script type="text/javascript" src="/JS/search.js"></script>


<script>
    $('.parallax').parallax();

</script>
<script type="text/javascript" src="/JS/inscription.js"></script>
<script type="text/javascript" src="/JS/ajoutEpreuve.js"></script>
<script type="text/javascript" src="/JS/ajoutMembre.js"></script>
<script>
    $(document).ready(function () {
        $('.button-collapse').sideNav();
        $('.carousel.carousel-slider').carousel({
            full_width: true,
            time_constant: 100
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 90 // Creates a dropdown of 15 years to control year
        });


        $('.carousel').carousel();
        $('.modal').modal();
        $('#modal1').modal('open');


    });

</script>


</body>
</html>
