<div id="index-banner" class="parallax-container" style="width: 100%">
	<div class="section no-pad-bot">
		<div class="container ">
			<br><br>
			<h1 class="header center white-text text-lighten-2">SportNet</h1>
			<div class="row center">
				<h5 class="header col s12 white-text light"></h5>
			</div>
			<div class="row center">
				<a href="/signupuser" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Inscription participant</a>
				<a href="/signuporg" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Inscription organisateur</a>

			</div>
			<br><br>

		</div>
	</div>
	<div class="parallax"><img src="images/home.jpg"></div>
</div>


<div class="container">
	<div class="section">

		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
					<h5 class="center">Rapide</h5>

					<p class="light">Grâce à SportNet, vous pouvez facilement et rapidement vous inscrire à vos énènements préféré directement depuis chez vous et sans remplir à chaque fois le même formulaire avec les mêmes informations. Sur votre profil, retrouvez un aperçu de vos epreuves passées et futures avec vos résultats, pour voir l'évolution de vos performances, et la date de chaques épreuves.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center teal-text"><i class="material-icons">public</i></h2>
					<h5 class="center">Découvrir</h5>

					<p class="light">Au lieu de chercher partout les courses qui vous intéresse qui pour la plupart du temps ne propose pas d'inscription en ligne, venez directement sur SportNet. Ici tout les envenement son accésible rapidement et grâce à notre outil de recherche vous pourez facilement trouver les évènements qui vous correspondent.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center teal-text"><i class="material-icons">settings</i></h2>
					<h5 class="center">Organisation</h5>
					<p class="light justify">Si vous êtes un organisateur, il n'y à rien de mieux que SportNet pour planifier vos évènements. À l'aide de notre tableau de bord gérer facillement vos courses, limité le nombre de participant, définissez des dates de clotûre,télécharger la liste des participants et partager les résultats avec les utilisateurs.</p>
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
