
<div class="container">
  <div class="row">
    <h3>Vos évènements : </h3>

    {% for event in events %}
      <div>
        <h4>{{event.nom}}</h4>
        <p>{{event.lieu}}</p>
        <p>Lien vers la version utilisateur : <a href="{{host}}/anEvent/{{event.id}}"></a></p>
      </div>
    {% endfor %}

  </div>
</div>
